<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<div class="container-fluid d-flex">
			<a class="navbar-brand" href="/">F8 education</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<img src="https://i.pinimg.com/736x/1e/f1/46/1ef146eebd002703ce5935e4be1bbca6.jpg" alt=""  style="width: 32px; height: 32px;">
							Linh Nhi
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>